@import "reset.css";

/* reset */

:root {
    --background-color: var(--black);
    --border-color: var(--border-black);
    --text-color: var(--white);
    --accent-color: var(--purple);

    --black: #171718;
    --white: #ffffff;
    --purple: #5C62EC;
    --border-black: #26292D;
}

/* variables */







.dark {
    --page-bg-color: #252526;
    --text-color: var(--white);
}




/*Dark mode*/




.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--page-bg-color);
    color: var(--text-color);

}
.content-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}


/*global*/

.navigation {
    background-color: var(--background-color);
    color: var(--text-color);

    border-bottom: 1px solid #26292D;

}

.nav-row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.logo {
    display: block;

    color: var(--text-color);
}

.nav-list {

}

.nav-list__items {
    padding: 20px 0;
    display: flex;
    column-gap: 40px;
}

.nav-list__item {



}

.nav-list__link {
    color: var(--text-color);
}

.nav-list__link--active {
    color: var(--white);
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: var(--accent-color);
    left: 0;

}

.hr {
    background-color: var(--background-color);
    height: 2px;
}

/*nav*/

.header {
    display: flex;
    min-height: 695px;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
}

.header-container {
    padding: 33px 0;


}

.header-container__content-wrapper {
    letter-spacing: -0.5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-container__content-wrapper > h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 40px;
}

.header-text {
    margin: 20px
}

.header-text span {
    color: var(--accent-color);
}

.header-other {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 20px;
    text-align: center;

}

.header-cvLink {
    color: var(--text-color);
}

.header-link {
    padding: 12px 28px;
    background-color: var(--accent-color);
    display: inline-block;
    border-radius: 5px;
}

/*Header*/

.main {

    margin: 70px 0
}

.main-title {
    font-weight: 700;
    font-size: 60px;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 60px;
}

.projects {
}

.project {
    row-gap: 30px;
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


}

.main-link {


}

.main-link__img {
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.main-link__text {
    margin-top: 15px;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-size: 24px;
}

/*main*/



.footer {
    margin-top: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 200px;
    flex-shrink: 0;


}

.footer-links {
    padding-top: 60px;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}



.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 50px;
}

/*footer*/




.Skills__container {
    align-items: center;
    justify-items: center;
}

.Skills__container h1 {
    margin-top: 33px;
    color: var(--accent-color);
    font-size: 60px;
    font-weight: bold;
}
.Skills__container h2 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;

}
.Skills__container p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
}



/*Skills Tab*/


.contact-wrapper {
    align-items: center;
    justify-items: center;
}

.contact-wrapper h1{
    margin-top: 70px;
    color: var(--accent-color);
    font-size: 60px;
    font-weight: bold;
}
.contact-wrapper h2 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
}
.contact-wrapper p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
}






/*Contacts Tab*/



.dark-mode-btn {


    position: relative;
    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;
    align-items: center;
    border-radius: 50px;
    background-color: #272727;
    border: none;
    cursor: pointer;
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;

}

.dark-mode-btn__icon {
    position: relative;

    z-index: 9;

    width: 16px; /* Добавьте фиксированные размеры */
    height: 16px;
}



.theme-container {
    position: relative;
    display: block;
    order: 9;
}

